.login {
  margin-top: 90px;
  display: flex;
  justify-content: space-around; }
  .login a {
    text-decoration: none; }
    .login a #login {
      background-color: white;
      border: 2px solid black;
      padding: 7px;
      font-size: 25px;
      color: black;
      font-weight: bold;
      border-radius: 10px;
      cursor: pointer; }
    .login a #login:hover {
      border: 4px solid black; }
